*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/
.vs

# Visual Studio Code
.vscode

# Rider
.idea

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

WebApplication/[Dd]ebug/
WebApplication/[Dd]ebugPublic/
WebApplication/[Rr]elease/
WebApplication/[Rr]eleases/
WebApplication/x64/
WebApplication/x86/
WebApplication/build/
WebApplication/bld/
WebApplication/[Bb]in/
WebApplication/[Oo]bj/
WebApplication/[Oo]ut/
WebApplication/msbuild.log
WebApplication/msbuild.err
WebApplication/msbuild.wrn

Services/[Dd]ebug/
Services/[Dd]ebugPublic/
Services/[Rr]elease/
Services/[Rr]eleases/
Services/x64/
Services/x86/
Services/build/
Services/bld/
Services/[Bb]in/
Services/[Oo]bj/
Services/[Oo]ut/
Services/msbuild.log
Services/msbuild.err
Services/msbuild.wrn

Repositories/[Dd]ebug/
Repositories/[Dd]ebugPublic/
Repositories/[Rr]elease/
Repositories/[Rr]eleases/
Repositories/x64/
Repositories/x86/
Repositories/build/
Repositories/bld/
Repositories/[Bb]in/
Repositories/[Oo]bj/
Repositories/[Oo]ut/
Repositories/msbuild.log
Repositories/msbuild.err
Repositories/msbuild.wrn

Entities/[Dd]ebug/
Entities/[Dd]ebugPublic/
Entities/[Rr]elease/
Entities/[Rr]eleases/
Entities/x64/
Entities/x86/
Entities/build/
Entities/bld/
Entities/[Bb]in/
Entities/[Oo]bj/
Entities/[Oo]ut/
Entities/msbuild.log
Entities/msbuild.err
Entities/msbuild.wrn

DataAccess/[Dd]ebug/
DataAccess/[Dd]ebugPublic/
DataAccess/[Rr]elease/
DataAccess/[Rr]eleases/
DataAccess/x64/
DataAccess/x86/
DataAccess/build/
DataAccess/bld/
DataAccess/[Bb]in/
DataAccess/[Oo]bj/
DataAccess/[Oo]ut/
DataAccess/msbuild.log
DataAccess/msbuild.err
DataAccess/msbuild.wrn

# Visual Studio 2015
.vs/